*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-left: 135px;
    padding-right: 135px;
}
.left{
    padding-top: 7rem;
}
.parent-div{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.b-background{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
}
.left h2{
    font-size: 60px;
    font-weight: 700;
    color: #313131;
    letter-spacing: -3px;
}
.wisdom{
    max-width: 500px;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
div .sm{
    color: #fff;
    font-size: 13px;
}
div .bg{
    color: #fff;
    font-size: 25px;
}

.subscribe{
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
}
.sub-container h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: #FDFDFF;
    padding-bottom: 1rem;
}
.sub-container{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 8rem;
    background-color: #1E5AFA;
    border-radius: 10px;
}
.sub-container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    max-width: 500px;
    color: #F5F2FF;

}
.button{
border: 1px solid #F5F2FF;
padding: 8px 25px 8px 25px;
font-size: 18px;
font-weight: 500;
/* gap: 3rem; */
text-align: center;
color: #FAFAFA;
}